<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <input type="checkbox" name="" class="menu-icon icon-bars">

      <ul class="page-links">
        <li class="page-link"><a href="{{ site.baseurl }}/">Home</a></li>
        {% for my_page in site.pages %}
          {% if my_page.title != "404: Page not found" and my_page.title != null %}
          <li class="page-link"><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </div>

</header>
