body {
  // @include max(xs) {
    padding-top: 50px;
  // }
}

.wrapper {
  padding: 0 10px;
  @include min(xs) {
    width: 80%;
    margin: auto;
  }
}

@mixin vcenter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@mixin full-height {
  height: 100vh;
}
