// @import "https://file.myfontastic.com/UHspGqciLYQxx9bZpqrotL/icons.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@charset "utf-8";

// Our variables
$base-font-family: 'Open Sans', sans-serif;;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    960px;

$grid-breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
) !default;

$content-breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
) !default;

// Use media queries like this:
// @include max(xs) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin max($device) {
    $width: map_get($grid-breakpoints, $device);
    @media screen and (max-width: $width - 1px) {
        @content;
    }
}
@mixin min($device) {
    $width: map_get($grid-breakpoints, $device);
    @media screen and (min-width: $width) {
        @content;
    }
}
